---
import "../assets/app.css";
import { Header } from "../components/header";
import { Footer } from "../components/footer";
---

<html class="snap-y scroll-smooth md:snap-mandatory" lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <slot name="meta" />
    </head>
    <body class="antialiased">
        <Header />

        <div class="min-h-[calc(100vh-100px)] max-w-7xl mx-auto px-4">
            <slot />
        </div>

        <Footer />
    </body>
</html>
